.dashboard-card{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    /* align-items: cent; */
    /* border: 2px solid white */
    border-radius: 20px;
    background-color: var(--surface);
    height: 16.8rem;
    width: 23rem;
}
.stock-data{
    border-bottom: 1px solid var(--outline);
}
.stock-info{
    display: flex;
    margin: 1rem 1rem;
    color: #F2F3F5;
}
.stock-info .col1{
    margin-right: 8rem;
}

@media (max-width: 1500px) {
    .dashboard-card{
        width: 20rem;
    }
}