.main-container{
    display: grid;
    grid-template-columns: 1fr 10fr 2fr;
    grid-template-rows: auto;
    margin: 0 0 0 0;
    height: 85vh;
    /* border: 1px solid white; */
    z-index: 1;
  }
  .main-container .left-side-menu{
    /* border: 1px solid lightgreen; */
  }
  .main-container .main-content{
    /* border: 1px solid lightblue; */
  }
  .main-container .right-side-menu{
    /* border:1px solid lightcoral; */
  }
  
  
  /* ================================= LEFT-SIDE-MENU CONTENT ============================ */
.left-side-menu{
  grid-template-columns: 1;
  display: flex;
  justify-content: center;
  padding: .5rem;
  border-right: 1px solid var(--outline);
}
.left-side-menu .nav-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-container button{
  margin: 0;
  padding: 1rem;
  background: var(--surface);
  border-style: none;
  width:60px;
  border-radius: var(--radius-circle);
  box-shadow: var(--shadow-2);
}
.nav-container button:hover{
  background: var(--on-background);
  color: var(--on-primary);
}

.nav-container button:hover .leftIcons{
  filter: brightness(0);
  transition: filter .5s ease;
}
.nav-container button:active{
  transform: translateY(2px);
}

.main-content{
  position: relative;
}
.main-content .graph-container{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

}
.main-content .dashboard-card-container{
  display: flex;
  margin: 2rem;
  color: white;
  justify-content: space-around;
  /* border: 1px solid green; */
  padding: 1.5rem;
}

.graph-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 3rem; */
}
.news-header{
  margin: 2rem 2rem .5rem 2rem;
  color: white;
  font-size: 2rem;
  border-bottom: 1px solid var(--outline);
}
