.dashboard-card{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    /* align-items: cent; */
    /* border: 2px solid white */
    border-radius: 20px;
    background-color: var(--surface);
    height: 17rem;
    width: 23rem;
}
.stock-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 1px solid var(--outline);
    padding-bottom: .3rem;
}
.stock-data{
    border-bottom: 1px solid var(--outline);
}
.stock-info{
    display: flex;
    margin: .2rem .3rem;
    color: #F2F3F5;
}
.stock-info .col1{
    margin-right: 4rem;
}
.greencolor{
    color: green;
}
.redcolor{
    color: red;
}

@media (max-width: 1500px) {
    .dashboard-card{
        width: 20rem;
    }
    .stock-info .col1{
        font-size: .8rem;
    }
    .stock-info .col2{
        font-size: .77rem;
    }
}