.dropdown-wrapper{
    position: relative;
}
.btnicon-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 20px;
    margin-right: 3rem;
}
.btnicon-header ion-icon{
    color: rgba(255, 255, 255, 0.247);
    margin-right: .3rem;
}

.ButtonHeader{
    color:#0074E4;
}
.btnicon-header:hover{
    transition: background-color .5s ease;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the alpha (last) value to control opacity */
}
.btnicon-header:hover ion-icon{
    color:rgb(14, 13, 13);
}
.filter-options{
    position: absolute;
    border-radius: 10px;
    width: 12rem;
    z-index: 1;
    background-color: var(--surface);
}
.filter-options p{
    font-size: .8rem;
    margin-left: .5rem;
    color: rgb(139, 138, 138);
    margin-top: .5rem;
}

.dropdown-options,.dropdown-direction{
    list-style: none;
    text-align: left;
    color:whitesmoke;
    margin-top: .5rem;
    
}
.dropdown-options li,.dropdown-direction li{
    position: relative;
    padding: .5rem ;
    padding-left: 4rem;
    font-size: .8rem;
}

.dropdown-options li:hover,.dropdown-direction li:hover{
    cursor: pointer;
    background-color: gray;
    width: 100%;
}
.checkmark{
    position: absolute;
    left:20px;
}