.watchlist-header{
    position: relative;
    display: flex;
    /* border: 1px solid green; */
    padding: 1rem 2rem .2rem 2rem;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--outline); */
}
.watchlist-header h2{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1.5rem;
    color: white;
}
.watchlist-header::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 15%; /* Adjust this percentage as needed */
    height: 3px;
    background-color: whitesmoke;
    z-index: 1;
}
/*=================================== Main Content USER WATCHLIST ========================= */
.userwatchlist-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    color: whitesmoke;
    margin: 1.5rem;
    border-radius: 20px;
    background:var(--surface);
}